body{
    margin: auto;
}

* {
    box-sizing: border-box;
    font-weight: 700;
}
    section{
        margin: auto;
        width: 100%;
    }

article{
    background-color: gray;
    color:  black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    border: 2px solid;
    height: 310px;
}
.menu{
    font-size: 2em;
    font-weight: 700;
    text-align: center;

}
.name{
    font-size: 1.02em;
    text-align: center;
    border: 2px solid;
}
.chicken{
background-color: pink;
}
.beef{
background-color: red;
}
.sushi{
background-color: yellow;}
p{
margin: 2.5%;
}
@media (min-width: 992px){
    article{
        box-sizing: border-box;
        margin: 3% 1.5%;
        width: 30%;
        float: left;
        }

    .menu-lg{
        margin-top: 4%;
        margin-bottom: 2%;
    }
    .name-lg{
        margin-left: 60%;
        margin-bottom: 2%;
        width: 40%;
        padding: 2.5%;
    }
}
@media (min-width: 768px) and (max-width:991px){
    article{
        box-sizing: border-box;
        margin: 1% 2%;
        width: 46%;
        float: left;
        }
        article:nth-child(3){
            width: 96%;
            margin: 2%;
            clear: both;
        }

    .menu-md{
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .name-md{
        margin-left: 60%;
        margin-bottom: 2%;
        width: 40%;
        padding: 2.5%;
    }
    .name-md-small{
        width: 20%;
        margin-left: 80%; 
        margin-bottom: 1%;
        padding: 1.25%;
    }
}
@media(max-width: 767px){
    article{
        margin: 4% 10%;
    }
    .menu-sm{
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .name-sm{
        margin-left: 60%;
        margin-bottom: 2%;
        width: 40%;
        padding: 2.5%;
    }
}